html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/fog.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.mainContent {
    width: 100%;
    /*margin-top: 2%;*/
}

.logo{
    margin-top: 2%;
    width: 20%;
    margin-left: 15%;
    float: left;
}
.nav-pirineos{
    margin: 0 auto;
    width: 70%;
	background-color: #2b2b2b;
    height: 40px;
}
.nav-pirineos ul {
	list-style-type:none;
	padding:0;
	text-align: center;
}

.nav-pirineos li {
	display:inline-block;
}

/*Estilos para los enlaces del menú*/
.nav-pirineos li a {
	display:block;
	min-width:120px;
	height: 20px;
	line-height: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	margin-left: 25px;
}

/*Estilo Hover para los enlaces principales*/
.nav-pirineos li:hover a {
	color: #4D944D;
}



#googleMap {
    /*position: absolute;*/
    height: 400px;
    width: 70%;
    margin: 0 15% 0 15%;
    padding: 0;
    opacity: 1;
}

#ruta {
    position: absolute;
    margin-right: 2%;
    opacity: 1;
    margin-top: 80%;
    width: 18%;
    text-align: center;
    font-family: 'Droid Serif', serif;
}

.rutas{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin: 2% 15% 0 15%;
    width: 70%;
}

article {
    background-color: #EBEBE0;
    width: 25%;
}
article h1{
    height: 10px;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #2b2b2b;
	margin-left: 5%;
}

article img{
    width: 100%;
    margin-bottom:0;
}

article h2{
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #778899;
	margin:0 5% 0 5%;
}

article p{
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #999;
	margin:0 5% 0 5%;
}
.titulo h1{
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 35px;
	font-weight: 400;
	color: #fff;
	height: 20px;
	margin-bottom: 3%;
	margin-top:0;
}

.titulo{
    width: 70%;
    margin: 0 15% 0 15%;
}

.flecha{
    width: 10%;
}

.flecha img{
    width:70%;
}